
<div class="envios">
    <H4 class="tituloenvios"> <i id="truck"class="fas fa-truck"></i> ENVÍO ESTÁNDAR NACIONAL </H4>
 <p class="gratis">Envío GRATIS en todas las órdenes superiores a $200.000. Los costos de envío se basan en el peso del paquete.</p>
    <p class="dias" >Servicio de entrega en todo Colombia. Todos los pedidos de Lunes a Viernes antes de las 2:00 p.m. y Sábados antes de las 11:00 a.m. serán despachados el mismo día.<br> </p>
    <p class="condiciones"> *Aplica en órdenes de Lunes a Sábado. Órdenes colocadas Domingos y festivos serán procesadas el siguiente día hábil.
        **Órdenes con entrega en áreas de difícil acceso, podrían tomar más tiempo de lo estimado.
    </p>
</div>