      <!-- INICIO FOOTER -->
      <footer>
        <ul class="footTitles">
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Digital House 2022</a></li>
            <li><a href="#">VVAPE - DH</a></li>
        </ul>
    </footer>
    <!-- FINAL FOOTER -->    