    <!-- INICIO HEADER -->
    <header>
        <nav class="principalNav">
            <div class="logo">
                <a href="/"><img class="logoVvape"src="/images/navlogo2.png" alt="logo"></a>
            </div>
                <ul class="navtitles">
                    <li><i class="fas fa-user-circle"></i><a href="/users/register">Regístrate</a></li>
                    <li class="navtitles-access"><i class="fas fa-user-circle"></i><a href="/users/login">Acceso</a></li>
                    <li><i class="fa-solid fa-fire-flame-curved"></i><a href="/products">Productos</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/users/shoppingcart">Carrito</a></li>
                    <li><i class="fas fa-user-circle"></i><a href="/users/profile">Perfil</a></li>
                </ul>
            <i id="burger"class="fa-solid fa-bars navicon"></i>
        </nav>
    </header>
    <!-- FINAL HEADER -->