    <!-- INICIO HEADER -->
    <header>
        <nav class="principalNav">
            <div class="logo">
                <a href="/"><img class="logoVvape"src="/images/navlogo2.png" alt="logo"></a>
            </div>
                <ul class="navtitles">
                    <% if (locals.isLogged) { %>
                        <li><i class="fa-solid fa-fire-flame-curved"></i><a href="/products">Productos</a></li>
                        <li><i class="fas fa-shopping-cart"></i><a href="/users/shoppingcart">Carrito</a></li>
                        <li><i class="fas fa-user-circle"></i><a href="/users/profile">Perfil</a></li>
                        <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="/users/logout">Salir</a></li>
                        <% } else { %>
                    <li><i class="fas fa-user-circle"></i><a href="/users/register">Regístrate</a></li>
                    <li class="navtitles-access"><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="/users/login">Acceso</a></li>
                    <li><i class="fa-solid fa-fire-flame-curved"></i><a href="/products">Productos</a></li>
                    <% } %>
                       <form   action="/products/list" method="POST">
                        <li><input class="navtitles search" name="search" type="search" placeholder=" VVAPE.."></li>
                      </form>

                      
                    
                </ul>
                        
                
                <i id="burger"class="fa-solid fa-bars navicon"></i>
        </nav>
    </header>
    <!-- FINAL HEADER -->

    <!-- SI ESTA LOGEADO: PERFIL, CARRITO, PRODUCTOS, Cerrar
    SI NO ESTA LOGUEADO: REGISTRATE, ACCESO, PRODUCTOS -->

   