<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/shoppingcart.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Carrito Compras</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <main>
     <div class="all">   
    <div class="content">
        <div class="items">
            <div class="card ">
                <div class="card-content">
                    <img src="/images/vaper-2.jpg" alt="">
                    <div class="card-description">
                        <div class="card-header">
                            <span class="subtitle">GEEK VVAPE</span>
                            <button class="close">X</button>
                        </div>

                        <div class="card-footer">
                            <label class="subtitle" for="">
                                CANTIDAD

                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>

                                </select>

                            </label>

                            <span class="subtitle">$150.000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        <div class="resume">
            <h1>RESUMEN</h1>
            <div class="card ">
                <input class="input-cupon" placeholder="CÓDIGO DE DESCUENTO" type="text">
                <button class="btn-cupon"><img src="/icons/arrow_forward_FILL0_wght400_GRAD0_opsz48.svg" alt=""></button>
            </div>

            <div class="resume-description card ">
                <span class="subtitle">SUBTOTAL</span>
                   <span>$126.050</span>
                <span>CO VAT (19%)</span>
                <span>$23.950</span>
                <span class="line"></span>
                <span class="subtitle">TOTAL</span>
                <span>$150.000</span>
            </div>

           <div class="checkout">
            <button class="btn-checkout">PROCEDER A PAGAR</button>
           </div>
           <div class="cardCheckout ">
            <span class="higlight query"></span>
            ¿Necesitas ayuda con tu orden?<br>
            Contacta a nuestra línea de atención VVAPE 018000 12 20 50<br>
            Lun-Vie 8am a 6pm, Sab 8am a 1pm 
        </div>
    </div>
</div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>