/* #f0f0f0 blanco rgba(240,240,240,0.5)
#de5764 rosado rgba(222,87,100,0.5) 
#a8848d moradito rgba(168,132,141,0.5) 
#7baab1 azul oscur rgba(123,170,177,0.5)
#45d7da azul claro rgba(69,215,218,0.5)
#151f28 azul fondo rgba(21,31,40,0.5)
#AA4DD5 morado título promociones rgba(170, 77, 213, 0.5)*/


h4.titulopromociones {
    font-family: Righteous;
    font-size: 22px;
    text-align:center;
}

p{
    font-family: nunito;
}

h4.titulopromociones:hover {
    text-shadow: 3px 3px rgba(69,215,218,0.5);
}

.slider-container{
    display:flex;
    overflow-y: auto;
    padding: 16px
}

.img-promo{
    position: relative;
    display: flex;
    justify-content: center;
}

.img-promo img{
    max-width: 86%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 8px 12px rgba(123,170,177,0.5);
}

.cuerpo-promo{
    position:absolute;
    bottom: 0;
    color:rgb(0, 0, 0);
    font-family: Righteous;
    text-align:center;
    font-size:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold 
}

div.cuerpo-promo{
    background-color: rgba(123,170,177,0.5);
    align-items: center;
    width: 86%;
    height: 16%;
    border-radius: 12px;
    justify-content: center;
    
}

::-webkit-scrollbar {
    display: none;
}

.btncompra-ahora{
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: rgba(168,132,141,0.5);
    border: none;
    cursor: pointer;
    margin: 3px;
}

.btncompra-ahora:hover{
    background-color:rgba(69,215,218,0.5);
}

.btn-pruébala{
    padding: 0.3rem;
    border-radius: 1rem;
    background:rgba(168,132,141,0.5);
    border: none;
    cursor: pointer;
    margin: 5px;
}

.btn-pruébala:hover{
    background-color:rgba(69,215,218,0.5);
}


.cuerpo-promo p, .cuerpo-promo a{
    margin: 0;
    overflow-y: auto;
}

article.card{
    align-items: center;
}

.product-cards{
    WIDTH: 100%;
    display: flex;
    /* max-width: 1100px; */
    padding: 0.3rem;
    overflow-y: auto;   
}

.cuerpo-info p:hover{
    text-shadow: 3px 3px rgba(168,132,141,0.5)
}

.card img{
    max-width: 100%;
    height: 70%;
    border-radius: 12px
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 9px;
    max-width: 100%;
    background: rgba(123,170,177,0.5);
    box-shadow: 0px 1 px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    bottom: 0;
    font-family: Righteous;
    text-align:center;

}

.descripción{
    padding: 15px;
    text-align: center;
    font-family: Righteous;
    font-size: 20px;
}

.descripción p{
    margin: 1;
    flex-flow: column;
}


.btn-vvape{
    padding: 0.2rem;
    border-radius: 1rem;
    background: rgba(168,132,141,0.5);
    border: none;
    width: 15rem;
    cursor: pointer;
}

.btn-vvape:hover{
    background-color:rgba(69,215,218,0.5);
}

.btn-escencias{
    padding: 0.2rem;
    border-radius: 1rem;
    background: rgba(168,132,141,0.5);
    border: none;
    width: 15rem;
    cursor: pointer;
}

.btn-escencias:hover{
    background-color:rgba(69,215,218,0.5);
}

.btn-membresía{
    padding: 0.2rem;
    border-radius: 1rem;
    background: rgba(168,132,141,0.5);
    border: none;
    width: 15rem;
    cursor: pointer;
}

.btn-membresía:hover{
    background-color:rgba(69,215,218,0.5);
}

div.atención-envíos-pagos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    align-items: stretch;
}

div.cuerpo-info{
    margin: 1em;
    padding: 0.5em;
    color:black;
    float: left;
    font-size: 1.2em; 
}

a.atención{
    text-align:center;
    color:rgba(66, 109, 116, 0.5);
    font-size: 0.7em;
}

.fa-headset{
    color: #010101;
    text-shadow: 1px 2px rgba(168,132,141,0.5);
    
}

.fa-truck-fast{
    color: #010101;
    text-shadow: 1px 2px rgba(168,132,141,0.5);
    
}

.fa-credit-card{
    color: #010101;
    text-shadow: 1px 2px rgba(168,132,141,0.5);
    }

@media (min-width: 362px) and (max-width: 769px) {

    h4.titulopromociones {
        font-size: 16px;        
    }

    .slider-container {
        display: flex;
        overflow-y: auto;
        padding: 21px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .atención-envíos-pagos{
        width: 78%; 
    }

    .product-cards {
        WIDTH: 100%;
        display: flex;
        padding: 1.3rem;
        overflow-y: auto;
        width: 87%;
        justify-content: space-between
    }

    div.atención-envíos-pagos{
        width: 75%; 
    }
    
    .cuerpo-promo{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        position: absolute;
        bottom: 0;
        color:rgb(0, 0, 0);
        font-family: Righteous;
        text-align:center;
        font-size:20px; 
    }

    .card img {
        max-width: 100%;
        height: 53%;
        border-radius: 12px;
    }
    
    div.atención-envíos-pagos{
        display: flex;
        align-items: center;
        width: 78%;
        height: 57%;
        align-items: flex-start;
    }

    div.cuerpo-info {
        margin: 1em;
        padding: 0.5em;
        color: black;
        float: left;
        font-size: 63%;
    }

    a.atención {
        text-align: center;
        color: rgba(66, 109, 116, 0.5);
        font-size: 0.9em;
    }

    article.card{
        align-items: center;
    }
   
    article.img-promo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-promo{
        position: relative;
    }

    .img-promo img{
        max-width: 86%;
        height: 100%;
        border-radius: 12px;
        align-items: center;
        box-shadow: 5px 8px 12px rgba(123,170,177,0.5);
    }

    .cuerpo-promo p, .cuerpo-promo a{
        margin: -3px;
        font-size:17px;
        display: flex;
        overflow-y: auto;
        flex-flow: column;
    }

    div.cuerpo-promo{
        background-color: rgba(123,170,177,0.5);
        align-items: center;
        width: 86%;
        height: 32%;
        border-radius: 12px;
        
    }
}



